@model IOModel

@{
    ViewBag.Title = "Lab2";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>
<p>
    Ланцюжком слів довжини N назвемо послідовність слів W1, W2, ..., WN таку,
    що для 1 ≤ i '<' N слово Wi є власним префіксом слова Wi+1. Нагадаємо, що слово U довжини K
    називається власним префіксом слова V довжини L, якщо K < L і перші K букв слова V збігаються
    зі словом U. Задано набір слів S = {S1, S2, ..., SM}. Знайдіть максимальну довжину ланцюжка
    слів, яку можна побудувати, використовуючи (можливо не всі) слова цього набору. Вхідний файл INPUT.TXT
    містить ціле число M (1 ≤ M ≤ 255). Кожен із наступних M рядків містить по одному слову з набору S. Усі
    слова не порожні, мають довжину, що не перевищує 255 символів, і складаються лише з малих літер англійського алфавіту.
    У вихідний файл OUTPUT.TXT виведіть відповідь на завдання.
</p>

<form method="post">
    <div class="form-group mt-3">
        <label for="Input">Вхідні дані</label>
        <textarea id="Input" name="Input" rows="12" class="form-control">@Model.Input</textarea>
    </div>

    <div class="form-group mt-3">
        <label for="Output">Вихідні дані</label>
        <textarea id="Output" name="Output" rows="5" class="form-control" disabled>@Model.Output</textarea>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Обробити</button>
</form>
