@model IOModel

@{
    ViewBag.Title = "Lab3";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>
<p>
    Алхіміки середньовіччя володіли знаннями про перетворення різних хімічних 
    речовин одна на одну. Це підтверджують і останні дослідження археологів. У ході археологічних 
    розкопок було виявлено m глиняних табличок, кожна з яких була покрита незрозумілими на перший погляд 
    символами. У результаті розшифровки з'ясувалося, що кожна з табличок описує одну алхімічну реакцію, 
    яку вміли проводити алхіміки. Результатом алхімічної реакції є перетворення однієї речовини на іншу. 
    Задано набір алхімічних реакцій, описаних на знайдених глиняних табличках, вихідна речовина та необхідна 
    речовина. Необхідно з'ясувати: чи можливо перетворити вихідну речовину на необхідну за допомогою цього 
    набору реакцій, а у разі позитивної відповіді на це питання — знайти мінімальну кількість реакцій, 
    необхідну для здійснення такого перетворення. Вхідні дані Перший рядок вхідного файлу INPUT.TXT 
    містить ціле число m (0 ≤ m ≤ 1000) – кількість записів у книзі. Кожен із наступних m рядків описує одну 
    алхімічну реакцію і має формат речовина1 -> речовина2, де речовина1 – назва вихідної речовини, речовина2 – 
    назва продукту алхімічної реакції. m+2-ий рядок вхідного файлу містить назву речовини, яка є вихідною, m+3-й – 
    назва речовини, яку потрібно отримати. У вхідному файлі згадується трохи більше 100 різних речовин. Назва кожної 
    з речовин складається з малих і великих англійських букв і має довжину трохи більше 20 символів. Рядкові та великі 
    літери різняться. Вихідні дані У вихідний файл OUTPUT.TXT виведіть мінімальну кількість алхімічних реакцій, 
    які потрібні для отримання потрібної речовини з вихідної, або -1, якщо необхідну речовину неможливо отримати.
</p>

<form method="post">

    <div class="form-group mt-3">
        <label for="Input">Вхідні дані</label>
        <textarea id="Input" name="Input" rows="15" class="form-control">@Model.Input</textarea>
    </div>

    <div class="form-group mt-3">
        <label for="Output">Вихідні дані</label>
        <textarea id="Output" name="Output" rows="5" class="form-control" disabled>@Model.Output</textarea>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Обробити</button>
</form>
