@model Lab5.Models.ProfileModel

<!-- Имя пользователя -->
<div>
    <label for="Username">Ім'я користувача: </label>
    <b>@Model.Username</b>
</div>

<!-- ФИО -->
<div>
    <label for="FullName">ФІО: </label>
    <b>@Model.FullName</b>

</div>


<!-- Телефон -->
<div>
    <label for="Phone">Телефон: </label>
    <b>@Model.Phone</b>

</div>

<!-- Электронная почта -->
<div>
    <label for="Email">Електронна пошта: </label>
    <b>@Model.Email</b>
</div>

<div>
</div>